
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<p>Nombre: <span>@Model.Nombre</span></p>
<p>Edad: <span>@Model.Edad</span></p>
<p>Nacimiento: <span>@Model.Nacimiento</span></p>

<ul>
    <p>Direcciones:</p>
    @{
        if (@Model.Direcciones != null)
        {

            foreach (var direccion in Model.Direcciones)
            {
                <li>
                    <p>@direccion.CodigoDireccion-@direccion.Calle</p>
                </li>
            }
        }
    }
    </ul>
