@model AuthClases.Models.BlogPost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BlogPost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contenido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contenido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Autor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Autor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publicacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publicacion)
        </dd>

    </dl>

    @if (@Model.Comentarios.Count > 0)
    {
        <p>Comentarios:</p>
        <ol >


            @foreach (var comentario in Model.Comentarios)
            {
                <li style="display:flex">
                    @comentario.Contenido  -   @comentario.Autor   |
                    @Html.ActionLink("Mostrar", "Details", "Comentarios", new { Id = comentario.Id }, new {  }) |
                    @Html.ActionLink("Editar", "Edit", "Comentarios", new { Id = comentario.Id }, new { }) |
                    @Html.ActionLink("Borrar", "Delete", "Comentarios", new { Id = comentario.Id }, new { })
                </li>

            }
        </ol>
    }


</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
